@import "../styles/colors.scss";

.image-card {
  border-radius: 0.5rem;
  margin: 1rem;
  align-items: center;
  max-width: 32rem;
  background-color: $white;
}
.card-title{
  margin-top: 0;
  text-align: start;
  
}
// .image-description {
  
//   text-align: start;
// }

.space-image{
  height: 32rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  width: 100%;
  object-fit: fill;
}

.image-card-info {
  padding: 1.5rem;
}