@import "../styles/colors.scss";

.image-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  margin: 1rem;
  align-items: center;
  height: 50rem;
  max-width: 32rem;
  background-color: $white;
}
.title-section{
  margin-top: 0;
  display: flex;
  align-content: center;
  justify-content: space-between;  
}

.title-text{
margin: 0;
  font-size: 1rem;
  text-align: start;
}

.date{
  margin: 0;
  color: $grey;
}

// need to fix description wrap issue
.image-explanation {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  text-align: start;
  height: 9rem;
}

.space-image{
  height: 32rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  width: 100%;
  object-fit: fill;
}

.image-card-info {
  padding: 1.5rem;
  border: 2px solid red;
  flex-grow: 2;
  border-radius: 0 0 0.5rem 0.5rem;
}

.like-button{
  border-radius: 1rem;
  width: 8rem;
  height: 2rem;
  font-size: 1rem;
  background-color: $grey;
}