@import "../../styles/colors.scss";

.image-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  margin: 1rem;
  align-items: center;
  max-width: 32rem;
  background-color: $white;
}

.title-section {
  margin-top: 0;
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
}

.title-text {
  margin: 0;
  font-size: 1rem;
  text-align: start;
}

.date {
  margin: 0;
  font-weight: bold;
}

.image-explanation {
  text-align: start;
}

.space-image {
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  border-radius: 0.75rem 0.75rem 0rem 0rem;
  width: 100%;
  object-fit: fill;
}

.image-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border: 0.2rem solid $green;
  border-top: 0;

  border-radius: 0 0 0.75rem 0.75rem;
}

.like-button {
  max-width: 8rem;
}