@import "../../styles/colors.scss";

.image-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  margin: 1rem;
  align-items: center;
  max-width: 32rem;
  background-color: $white;
  box-shadow: 0 0 0.75rem $shadow;
}

.title-section {
  margin-top: 0;
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
}

.title-text {
  margin: 0;
  font-size: 1rem;
  text-align: start;
  max-width: 20rem;
}

.date {
  margin: 0;
  font-weight: bold;
}

.space-image {
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  border-radius: 0.75rem 0.75rem 0rem 0rem;
  width: 100%;
  object-fit: fill;
}

.image-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border: 0.2rem solid $green;
  border-radius: 0 0 0.75rem 0.75rem;
}

.card-footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 3rem;
}

.copy-banner {
  border: 0.125rem solid $green;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.copy-banner-text {
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .title-section {
    flex-direction: column;

    .title-text {
      font-size: 1.2rem;
    }

    .date {
      margin-top: 1rem;
      font-size: 1.2rem;
    }
  }
}