@import '../../styles/colors.scss';

.like-button-wrapper {
  position: relative;
  display: grid;
  place-items: center;
  border: none;
  cursor: pointer;
  padding: 0.75rem 3rem 0.325rem 2.5rem;

  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;

  &::before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    will-change: background-color;
    transition: background-color 0.3s, transform 0.3s;
    border: 0.2rem solid $green;
    background-color: white;
    box-shadow: 0 0 0.75rem #22303f8c;
    border-radius: 0.75rem;
  }

  &:hover:not(.liked) {
    i {
      transform: translateY(-2px) rotate(8deg);

      #thumb-end {
        transform: rotate(45deg) translate(0.325rem, -2.812rem);
      }
    }
  }

  &.clicked {
    &::before {
      animation: click 300ms;
    }
  }

  &.liked {
    color: black;

    &::before {
      background-color: $green;
    }

    i {
      animation: hop 500ms;
    }
  }

  .like-button {
    z-index: 1;
    transform: translateX(0.187rem);
  }

  .particles {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .particle-rotate {
      position: absolute;

      &:nth-child(1) {
        right: 0;
        top: 50%;
      }

      &:nth-child(2) {
        right: 0;
        bottom: 0;
      }

      &:nth-child(3) {
        right: 33%;
        bottom: 0;
      }

      &:nth-child(4) {
        right: 66%;
        bottom: 0;
      }

      &:nth-child(5) {
        left: 0;
        bottom: 0;
      }

      &:nth-child(6) {
        left: 0;
        bottom: 50%;
      }

      &:nth-child(7) {
        left: 0;
        top: 0;
      }

      &:nth-child(8) {
        left: 33%;
        top: 0;
      }

      &:nth-child(9) {
        left: 66%;
        top: 0;
      }

      &:nth-child(10) {
        right: 0;
        top: 0;
      }
    }

    .particle-tick {
      position: absolute;
      z-index: -1;
      width: 0.625rem;
      height: 0.06rem;
      background-color: $white;
      color: black;
      animation: boom 500ms;
      transform: translateX(-1.56rem);
    }
  }

  i {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.75rem;
    transform: translateY(-0.12rem);
    transition: transform 0.2s;

    #thumb-end {
      transition: transform 0.2s;
    }
  }

  .suffix {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform: translateX(1rem);

    &.liked {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@keyframes hop {
  0% {
    transform: rotate(8deg) translateY(-0.125rem);
  }

  30% {
    transform: rotate(-14deg) translateY(-0.375rem);
  }

  65% {
    transform: rotate(7deg) translateY(0.125rem);
  }

  100% {
    transform: rotate(0deg) translateY(-0.125rem);
  }
}

@keyframes click {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.96);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes boom {
  0% {
    transform: translateX(-1.5rem);
    opacity: 1;
  }

  100% {
    transform: translateX(3rem);
    opacity: 0;
  }
}