@import '../../styles/colors.scss';

.like-button-wrapper {
  position: relative;
  display: grid;
  place-items: center;
  border: none;
  cursor: pointer;
  padding: 0.75rem 3rem 0.75rem 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;

  &::before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    will-change: background-color;
    transition: background-color 0.3s, transform 0.3s;
    border: 0.2rem solid $green;
    background-color: white;
    box-shadow: 0 0 0.75rem $shadow;
    border-radius: 0.75rem;
  }

  &:hover:not(.liked) {
    i {
      transform: translateY(-0.2rem) rotate(10deg);

      #thumb-end {
        transform: rotate(45deg) translate(0.325rem, -2.812rem);
      }
    }
  }

  &.clicked {
    &::before {
      animation: click 300ms;
    }
  }

  &.liked {
    color: black;

    &::before {
      background-color: $green;
    }

    i {
      animation: hop 500ms;
    }
  }

  .button-content {
    display: flex;
    align-items: center;
    z-index: 1;
    transform: translateX(0.3rem);
  }

  i {
    margin-right: 0.75rem;
    transform: translateY(-0.12rem);
    transition: transform 0.2s;

    #thumb-end {
      transition: transform 0.2s;
    }
  }

  .suffix {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform: translateX(1rem);

    &.liked {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@keyframes hop {
  0% {
    transform: rotate(8deg) translateY(-0.125rem);
  }

  30% {
    transform: rotate(-14deg) translateY(-0.375rem);
  }

  65% {
    transform: rotate(7deg) translateY(0.125rem);
  }

  100% {
    transform: rotate(0deg) translateY(-0.125rem);
  }
}

@keyframes click {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.96);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes boom {
  0% {
    transform: translateX(-1.5rem);
    opacity: 1;
  }

  100% {
    transform: translateX(3rem);
    opacity: 0;
  }
}